
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<span>Enter First no:</span>@Html.TextBox("txtFirstNo")<br />
<span>Enter Second no:</span>@Html.TextBox("txtSecondNo")<br />
<span id="lblResult"></span>
<button type="button" onclick="doSum();">Show</button>
@section scripts{
<script>
    function doSum() {
        var v1 = $("#txtFirstNo").val();
        var v2 = $("#txtSecondNo").val();

        $.ajax({
            url: "@Url.Action("Index","Sample02")",
            method: "POST",
            cache: false,
            data: {txtFirstNo:v1,txtSecondNo:v2}
        }).done(function (d) {
                $("#lblResult").text(d);
            });
        }
    

</script>
}