
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Example 02 - Simple DataTable Output by Web API & JS</h1>
<p>In This example i show you how to get Data from EntityFramework Database into jQuery Datatables.</p>
<table id="products" class="table table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Date Added</th>
        </tr>
    </thead>
    <tbody></tbody>

</table>

@section scripts{

}